USE_VERTEX=true
GCP_PROJECT_ID=gen-lang-client-0874524975
GCP_REGION=us-central1
# GEMINI_API_KEY only needed if USE_VERTEX=false
GEMINI_API_KEY=
MONGODB_URI=
MONGODB_DB=
MONGODB_COLLECTION=
VECTOR_INDEX_NAME=
